{%extends "layout.html" %}


{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages  %}
                <div class="alert alert-{{category}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<hr>

<div class="container">
    <form method="POST" action="" >
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Wyświelt faktury za dany okres</legend>
            <div class="form-group">
                {{ form.period.label(class="form-control-label")}}
                {{ form.period(class="form-control form-control-lg")}}

            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary")}}

            </div>
        </fieldset>

    </form>
</div>

<hr>
{% endblock content %}